extends ../../layout

block content
   h2(id='title') Add project in progress
   div(class='container' id='cont')
      form(id='progress_add-form' name='progress_add-form' class='form-horizontal' method="POST" action='')
         div(class='form-group')
            div(class='col-md-3')
               label(for='project_id') Project
            div(class='col-md-9')
               <select id='project_id' name='project_id' class='form-select'>
                  each type in projects
                     option(value=type.id selected=(type.id == $fn.getPropOrDefault(newProgress, 'type', 0))) #{type.name}
               </select>
         div(class='form-group')
            div(class='col-md-3')
               label(for='project_doer_id') Project doer
            div(class='col-md-9')
               <select id='project_doer_id' name='project_doer_id' class='form-select'>
                  each type in project_doers
                     option(value=type.id selected=(type.id == $fn.getPropOrDefault(newProgress, 'type', 0))) #{type.name}
               </select>
         div(class='form-group')
            div(class='col-md-3')
               label(for='start') Start date
            div(class='col-md-9')
               input(id='start' name='start' value=$fn.getPropOrDefault(newProgress, 'start') class='form-control')
         div(class='form-group')
            div(class='col-md-3')
               label(for='finish') Finish date
            div(class='col-md-9')
               input(id='finish' name='finish' value=$fn.getPropOrDefault(newProgress, 'finish') class='form-control')
         div(class='form-group')
            div(class='col-md-12')
               button(type='submit' class='btn btn-primary') Create