#nav {
   background-color:  #02a8b5/*#313a46*/;
   
}

#navbar-brand {
   margin-left: 20px;
   color: #046971;
   font-size: 22px;
}

#nav-link {
   color: #046971;
   font-size: 18px;
}

#nav-link:hover {
   color: #c1f2f6
}
