.breadcrumb {
   margin-top: 10px;
}

#pastitle {
   font-size: 25px;
}

#tname {
   margin-left: 10px;
   color: grey;
   text-decoration: none;
   border: none;
}

#tname:hover {
   color: black;
}

