<h2 id="title">Add new project</h2>

<div class="container" id="cont">
  <form (submit)="createProject()">
    <div class="form-group">
      <div class="col-md-3">
        <label for="name">Name</label>
      </div>
      <div class="col-md-9">
        <input id="name" name="name" [(ngModel)]="name" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3">
        <label for="description">Description</label>
      </div>
      <div class="col-md-9">
        <input id="description" name="description" [(ngModel)]="description" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3">
        <label for="client_id">Client</label>
      </div>
      <div class="col-md-9">
        <select id="client" name="client" [(ngModel)]="type" class="form-select">
          <option *ngFor="let client of clients" [value]="client._id">{{ client.name }}</option>
        </select>        
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3">
        <label for="experience">Experience</label>
      </div>
      <div class="col-md-9">
        <input id="experience" name="experience" [(ngModel)]="experience" class="form-control" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </div>
  </form>
</div>