.btn-danger {
   margin-left: 10px;
}

#title {
   margin-top: 5px;
   color: #046971;
}

#cont {
   font-size: 20px;
   color: #046971;
}

.btn-primary {
   margin-top: 15px;
}

.btn-info {
   margin-top: 15px;
}

#del_btn {
   margin-top: 15px;
}