extends ../../layout


block content
  h2(id='title') Edit the client
  div(class='container' id='cont')
    form(id='client_edit-form' name='client_edit-form' class='form-horizontal' method="POST" action='')
      input(id='id' name='id' value=$fn.getPropOrDefault(newclient, 'id', client.id) type='hidden')
      div(class='form-group')
        div(class='col-md-3')
          label(for='name') Name
        div(class='col-md-9')
          input(id='name' name='name' value=$fn.getPropOrDefault(newclient, 'name', client.name) class='form-control')
      div(class='form-group')
        div(class='col-md-3')
          label(for='budget') Budget
        div(class='col-md-9')
          input(id='budget' name='budget' value=$fn.getPropOrDefault(newclient, 'budget', client.budget) class='form-control')
      div(class='form-group')
        div(class='col-md-12')
          button(type='submit' class='btn btn-info') Edit